<div class="modal fade " id="candidatesModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="candidatesModalCenterTitle" aria-hidden="true" th:fragment="job-modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="candidatesModalLongTitle">Candidates: 5</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


            <div class="modal-body">
                <div class="mt-5 mb-1">
                    <span class="media mt-1">
                <img class="mr-3" src="/images/default_avatar.jpg" width="50" height="50" alt="Generic placeholder image">
                <span class="media-body">
                <h5 class="mt-0 text-topics">Radostin Bochukov </h5>
                    <!--                <div class="badge-2 badge-secondary-2 mt-0 mb-2">Freelancer</div>-->
                <span class="mt-2">
                     <span class="candidateType">Freelancer | </span>
                    <img id="flag" src="" width="22" class="flags">
                    <span id="countryName" class="countryName">Italy</span>
                </span>
                <span class="text-left mt-3">  | Prices from <b>€350 / image</b></span>
                </span>
                </span>
                    <div>
                        <button type="submit" class="btn btn-info btn-sm mt1 mb-0">View Profile</button>
                        <button type="button" class="btn btn-info btn-sm mt-1 ml-2" data-toggle="modal"
                                data-target="#application-message" data-whatever="@mdo">View message
                        </button>
                        <button type="submit" class="btn btn-info btn-sm mt-1 ml-2">Approve</button>
                    </div>
                </div>
                <div class="mt-5 mb-1">
                    <span class="media mt-1">
                <img class="mr-3" src="/images/default_avatar.jpg" width="50" height="50" alt="Generic placeholder image">
                <span class="media-body">
                <h5 class="mt-0 text-topics">Radostin Bochukov </h5>
                    <!--                <div class="badge-2 badge-secondary-2 mt-0 mb-2">Freelancer</div>-->
                <span class="mt-2">
                     <span class="candidateType">Freelancer | </span>
                    <img src="" width="22" class="flags">
                    <span class="countryName">Italy</span>
                </span>
                <span class="text-left mt-2">  | Prices from <b>€350 / image</b></span>
                </span>
                </span>
                    <div>
                        <button type="submit" class="btn btn-info btn-sm mt-1 mb-0">View Profile</button>
                        <button type="button" class="btn btn-info btn-sm mt-1 ml-2" data-toggle="modal"
                                data-target="#application-message" data-whatever="@mdo">View message
                        </button>
                        <button type="submit" class="btn btn-info btn-sm mt-1 ml-2">Approve</button>
                    </div>
                    <div class="mt-5 mb-1">
                    <span class="media mt-1">
                <img class="mr-3" src="/images/default_avatar.jpg" width="50" height="50" alt="Generic placeholder image">
                <span class="media-body">
                <h5 class="mt-0 text-topics">Radostin Bochukov </h5>
                    <!--                <div class="badge-2 badge-secondary-2 mt-0 mb-2">Freelancer</div>-->
                <span class="mt-2">
                     <span class="candidateType">Freelancer | </span>
                    <img src="" width="22" class="flags">
                    <span class="countryName">Zimbabwe</span>
                </span>
                <span class="text-left mt-2">  | Prices from <b>€350 / image</b></span>
                </span>
                </span>
                        <div>
                            <button type="submit" class="btn btn-info btn-sm mt-1 mb-0">View Profile</button>
                            <button type="button" class="btn btn-info btn-sm mt-1 ml-2" data-toggle="modal"
                                    data-target="#application-message" data-whatever="@mdo">View message
                            </button>
                            <button type="submit" class="btn btn-info btn-sm mt-1 ml-2">Approve</button>
                        </div>
                    </div>
                </div>

                <div class="mt-5 mb-1">
                <span class="media mt-1">
                <img class="mr-3" src="/images/default_avatar.jpg" width="50" height="50" alt="Generic placeholder image">
                <span class="media-body">
                <h5 class="mt-0 text-topics">Radostin Bochukov </h5>
                    <!--                <div class="badge-2 badge-secondary-2 mt-0 mb-2">Freelancer</div>-->
                <span class="mt-2">
                     <span class="candidateType">Freelancer | </span>
                    <img src="" width="22" class="flags">
                    <span class="countryName">Somalia</span>
                </span>
                <span class="text-left mt-2">  | Prices from <b>€350 / image</b></span>
                </span>
                </span>
                    <div>
                        <button type="submit" class="btn btn-info btn-sm mt-1 mb-0">View Profile</button>
                        <button type="button" class="btn btn-info btn-sm mt-1 ml-2" data-toggle="modal"
                                data-target="#application-message" data-whatever="@mdo">View message
                        </button>
                        <button type="submit" class="btn btn-info btn-sm mt-1 ml-2">Approve</button>
                    </div>
                </div>
                <div class="mt-5 mb-1">
                <span class="media mt-1">
                <img class="mr-3" src="/images/default_avatar.jpg" width="50" height="50" alt="Generic placeholder image">
                <span class="media-body">
                <h5 class="mt-0 text-topics">Radostin Bochukov </h5>
                    <!--                <div class="badge-2 badge-secondary-2 mt-0 mb-2">Freelancer</div>-->
                <span class="mt-2">
                     <span class="candidateType">Freelancer | </span>
                    <img src="" width="22" class="flags">
                    <span class="countryName">United Arab Emirates</span>
                </span>
                <span class="text-left mt-2">  | Prices from <b>€350 / image</b></span>
                </span>
                </span>
                    <div>
                        <button type="submit" class="btn btn-info btn-sm mt-1 mb-0">View Profile</button>
                        <button type="button" class="btn btn-info btn-sm mt-1 ml-2" data-toggle="modal"
                                data-target="#application-message" data-whatever="@mdo">View message
                        </button>
                        <button type="submit" class="btn btn-info btn-sm mt-1 ml-2">Approve</button>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="application-message" tabindex="-1" role="dialog" aria-labelledby="applicationSuccessful"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="applicationSuccessful">Message from Candidate: </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group ">
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                    purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                    vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</div>

<script src="/js/countriesAPI-2.js">

</script>

