<div th:fragment="navbar"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <nav class="navbar navbar-expand-lg new-color-nav  navbar-dark fixed-top">
<!--        <a class="navbar-brand" href="/">Home</a>-->
<!--        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"-->
<!--                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto col-12 justify-content-between ">
                <li class="nav-item "
                >
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item "
                >
                    <a class="nav-link" href="/artists/all">3D Artists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/projects/all">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/jobs/all">Jobs</a>
                </li>
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/top5/all">Weekly Top 5</a>-->
<!--                </li>-->
                <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')" >
                    <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/admin/reports/users}">Reported users</a>
                        <a class="dropdown-item" th:href="@{/admin/reports/projects}">Reported projects</a>
                    </div>
                </li>

                <th:block sec:authorize="!isAuthenticated()">
                <li class="nav-item">
                    <a class="nav-link" href="/users/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/login">Login</a>
                </li>
                </th:block>
                <li class="nav-item dropdown" sec:authorize="isAuthenticated()" >
                    <a class="nav-link dropdown-toggle" href="/" id="profileDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Profile
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/users/myProfile}" sec:authorize="hasRole('ARTIST')" >My Profile</a>
                        <a class="dropdown-item" th:href="@{/users/myProfile}" sec:authorize="hasRole('BUYER')" >My Profile</a>
                        <a class="dropdown-item" th:href="@{/users/edit-profile}">Edit Profile</a>
                        <a class="dropdown-item" th:href="@{/projects/add}" sec:authorize="hasRole('ARTIST')">Post a
                            project</a>
                        <a class="dropdown-item" th:href="@{/jobs/add}" sec:authorize="hasRole('BUYER')">Post a job
                            publication</a>
                        <a class="dropdown-item" th:href="@{/jobs/all}" sec:authorize="hasRole('ARTIST')">Browse jobs</a>
                        <div class="dropdown-divider"></div>
                        <div class="text-center">

                        <form th:action="@{/users/logout}" th:method="post">
                            <button  class="btn btn-info btn mt-1 " type="submit">Logout</button>
                        </form>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </nav>
</div>