<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{fragments/head}">

</head>
<body>
<header>
    <div th:replace="~{fragments/navbar}">Navbar</div>
</header>

<div class="container ">

    <h2 class="text-left text-topics">ArchViz Artists</h2>

    <form method="POST"
          class="form-inline">

        <div class="form-group mb-2 mr-sm-2">
            <label class="sr-only " for="price">Price</label>
            <select id="price" class="form-control">
                <option value="">- Select price range -</option>
                <optgroup label="Price range">
                    <option>0-200</option>
                    <option>201-500</option>
                    <option>500+</option>
                </optgroup>
            </select>

        </div>
        <div class="form-group mb-2 mr-sm-2">
            <label class="sr-only " for="creator_type">Creator type</label>
            <select id="creator_type" class="form-control">
                <option value="">- Select Creator type -</option>
                <optgroup label="Creator type">
                    <option>Studio</option>
                    <option>FreeLancer</option>
                </optgroup>
            </select>

        </div>
        <div th:replace="~{/fragments/countries-dropdown}">
        </div>
        <button type="submit" class="btn btn-info mb-2">Search</button>

        <!--        </div>-->

        <!--        <div class="row">-->
        <!--            <div class="mb-2 mr-sm-2">-->
        <!--                <div class="button-holder d-flex mb-2 mr-sm-2">-->
        <!--                    <input type="submit" class="btn btn-info " value="Search"/>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
    </form>

    <h3 class="text-left text-topics mt-5"
        th:text="'Found artists: '+${countArtists}">Found artists</h3>
    <div class="card-deck text-center mt-0">
        <div class="card mt-3" th:each="a : ${allArtists}" th:object="${a}">
            <a th:href="@{/users/details/{id}(id=*{id})}" class="artist-link">
                <img th:if="*{pictureUrl==null}" class="card-img-top" th:src="@{/images/default_avatar.jpg}"
                     alt="Card image cap"
                     width="160">
                <img th:unless="*{pictureUrl==null}" class="card-img-top" th:src="*{pictureUrl}" alt="Card image cap">
            </a>
            <div class="card-body mt-0">
                <h4 class="card-title" th:text="*{name}">Radostin Bochukov </h4>
                <div class="badge-2 badge-secondary-2 mt-0 mb-2" th:text="*{creatorTypeEnum.name()}">Freelancer</div>
                <div class="mt-2">
                    <img class="flags" src="" width="26">
                    <span class="countryName ml-1" th:text="*{country}">Brazil</span>
                </div>
                <div class="mt-2" th:value="'Prices from <b>€'+*{pricePerImage}+' / image</b>'">Prices from
                    <strong th:text="'€'+*{pricePerImage}+' / image'"/></div>
            </div>
        </div>
    </div>
</div>
</div>

</body>
<script src="/js/countriesAPI-2.js">

</script>
</html>