<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{fragments/head}">

</head>
<body>
<header>
    <div th:replace="~{fragments/navbar}">Navbar</div>
</header>

<div class="container pl-3">

    <h2 class="text-left text-topics pl-4">ArchViz Artists</h2>

    <form th:method="get"
          th:action="@{/artists/search}"
          th:object="${artistSearchBindingModel}"
          class="form-inline pl-3">

        <div class="form-group mb-2 mr-sm-2">
            <label class="sr-only " for="price">Price</label>
            <select th:field="*{priceRange}"
                    id="price" class="form-control">
                <option value="">- Select price range -</option>
                <optgroup label="Price range">
                    <option th:value="range1">0-200</option>
                    <option th:value="range2" >201-500</option>
                    <option th:value="range3" >500+</option>
                </optgroup>
            </select>

        </div>
        <div class="form-group mb-2 mr-sm-2">
            <label class="sr-only " for="creator_type">Creator type</label>
            <select th:field="*{creatorType}"
                    id="creator_type"
                    class="form-control">
                <option value="">- Select Creator type -</option>
                <option th:each="c: ${T(com.example.archvizarena.model.entity.enums.CreatorTypeEnum).values()}"
                        th:text="${c}"
                        th:value="${c}"
                        th:selected="${c}==*{creatorType}">FREELANCER
                </option>
            </select>

        </div>
        <div class="form-group mb-2 mr-sm-2"
             th:fragment="countries-dropdown">

            <label for="country" class="sr-only ">Country</label>

            <select th:field="*{country}"
                    id="country" name="country" class="form-control">
                <option value="">- Select a country -</option>
            </select>
        </div>
        <button type="submit" class="btn btn-info mb-2">Search</button>

        <!--        </div>-->

        <!--        <div class="row">-->
        <!--            <div class="mb-2 mr-sm-2">-->
        <!--                <div class="button-holder d-flex mb-2 mr-sm-2">-->
        <!--                    <input type="submit" class="btn btn-info " value="Search"/>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
    </form>

    <h3 class="text-left text-topics mt-5 pl-3"
        th:text="'Found artists: '+${countArtists}">Found artists</h3>
    <!--    <div class="card-deck text-center mt-0">-->
    <!--        <div class="card mt-3" th:each="a : ${allArtists}" th:object="${a}">-->
    <!--            <a th:href="@{/users/details/{id}(id=*{id})}" class="artist-link">-->
    <!--                <img th:if="*{pictureUrl==null}" class="card-img-top" th:src="@{/images/default_avatar.jpg}"-->
    <!--                     alt="Card image cap"-->
    <!--                     width="160">-->
    <!--                <img th:unless="*{pictureUrl==null}" class="card-img-top" th:src="*{pictureUrl}" alt="Card image cap">-->
    <!--            </a>-->
    <!--            <div class="card-body mt-0">-->
    <!--                <h4 class="card-title" th:text="*{name}">Radostin Bochukov </h4>-->
    <!--                <div class="badge-2 badge-secondary-2 mt-0 mb-2" th:text="*{creatorTypeEnum.name()}">Freelancer</div>-->
    <!--                <div class="mt-2">-->
    <!--                    <img class="flags" src="" width="26">-->
    <!--                    <span class="countryName ml-1" th:text="*{country}">Brazil</span>-->
    <!--                </div>-->
    <!--                <div class="mt-2" th:value="'Prices from <b>€'+*{pricePerImage}+' / image</b>'">Prices from-->
    <!--                    <strong th:text="'€'+*{pricePerImage}+' / image'"/></div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->


    <div class="card-deck mt-3 text-center">
        <div class="row">
            <div class="col-md-3 mt-4 mb-2" th:each="a : ${allArtists.getContent()}" th:object="${a}">
                <div class="card highlight">
                    <a th:href="@{/users/details/{id}(id=*{id})}" class="artist-link">
                        <img th:if="*{pictureUrl==null}" class="card-img-top" th:src="@{/images/default_avatar.jpg}"
                             alt="Card image cap"
                             style="max-width: 240px; max-height: 240px; object-fit: cover">
                        <img th:unless="*{pictureUrl==null}" class="card-img-top" th:src="*{pictureUrl}"
                             alt="Card image cap"
                             style="max-width: 240px;max-height: 240px; object-fit: cover">
                    </a>
                    <div class="card-body mt-0">
                        <h4 class="card-title" th:text="*{name}">Radostin Bochukov</h4>
                        <div class="badge-2 badge-secondary-2 mt-0 mb-2" th:text="*{creatorTypeEnum.name()}">
                            Freelancer
                        </div>
                        <div class="mt-2">
                            <img class="flags" src="" width="26">
                            <span class="countryName ml-1" th:text="*{country}">Brazil</span>
                        </div>
                        <div class="mt-2" th:value="'Prices from <b>€'+*{pricePerImage}+' / image</b>'">Prices from
                            <strong th:text="'€'+*{pricePerImage}+' / image'"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid container-fluid row justify-content-center" th:fragment="pagination">
        <nav>
            <ul class="pagination">
                <li class="page-item" th:classappend="${allArtists.isFirst()} ? 'disabled' : ''">
                    <a th:unless="${allArtists.isFirst()}"
                       th:href="@{/artists/all(size=${allArtists.getSize()},page=0)}"
                       class="page-link" href="#">First</a>
                    <a th:if="${allArtists.isFirst()}"
                       class="page-link" href="#">First</a>
                </li>
            </ul>
        </nav>
        <nav>
            <ul class="pagination">
                <li class="page-item" th:classappend="${allArtists.hasPrevious() ? '' : 'disabled'}">
                    <a th:if="${allArtists.hasPrevious()}"
                       th:href="@{/artists/all(size=${allArtists.getSize()},page=${allArtists.getNumber() - 1})}"
                       class="page-link" href="#">Previous</a>
                    <a th:unless="${allArtists.hasPrevious()}"
                       class="page-link" href="#">Previous</a>
                </li>
            </ul>
        </nav>
        <nav>
            <ul class="pagination">
                <li class="page-item" th:classappend="${allArtists.hasNext() ? '' : 'disabled'}">
                    <a th:if="${allArtists.hasNext()}"
                       th:href="@{/artists/all(size=${allArtists.getSize()},page=${allArtists.getNumber() + 1})}"
                       class="page-link" href="#">Next</a>
                    <a th:unless="${allArtists.hasNext()}"
                       class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
        <nav>
            <ul class="pagination">
                <li class="page-item" th:classappend="${allArtists.isLast()} ? 'disabled' : ''">
                    <a th:unless="${allArtists.isLast()}"
                       th:href="@{/artists/all(size=${allArtists.getSize()},page=${allArtists.getTotalPages() - 1})}"
                       class="page-link" href="#">Last</a>
                    <a th:if="${allArtists.isLast()}"
                       class="page-link" href="#">Last</a>
                </li>
            </ul>
        </nav>
    </div>


</div>
</div>
</div>

</body>
<script src="/js/countriesAPI-2.js">

</script>

<script>

    const cards = document.querySelectorAll('.card');
    const maxHeight = Math.max(...Array.from(cards, card => card.offsetHeight));
    cards.forEach(card => {
        card.style.height = maxHeight + 'px';
    });
</script>
</html>