<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head}">

</head>
<body>
<header>
    <div th:replace="~{fragments/navbar}">Navbar</div>
</header>

<div class="container ">
    <div class="media-2" th:object="${user}">
        <img th:if="*{pictureUrl==null}" class="mr-3" th:src="@{/images/default_avatar.jpg}" width="260" height="260"
             alt="Generic placeholder image">
        <div class="media-body">
            <h3 class="mt-0" th:text="*{name}">Radostin Bochukov</h3>
            <div class="badge-2 badge-secondary-2 mt-0 mb-2" th:text="*{creatorTypeEnum}">Freelancer</div>
            <div class="mt-2">
                <img id="flag" src="" width="26" class="flags">
                <span id="countryName" class="countryName" th:text="*{country}">Italy</span>
            </div>
            <div class="text-left mt-2">Prices from <strong th:text="'€'+*{pricePerImage}+' / image'"/></div>
            <div class="text-left mt-3">Description:</div>
            <div class="mt-0" th:text="*{description}">
            </div>


        </div>
    </div>
    <div class="text-right mt-2">
        <a th:unless="${principalId!=null && principalId==user.id}" th:href="@{/users/report/{id}(id=*{id})}" class="btn btn-info  mr-2 ">Report user</a>
        <a th:if="${principalId!=null && principalId==user.id}" th:href="@{/users/edit-profile}" class="btn btn-info  mr-0 ">Edit profile</a>
        <a sec:authorize="hasRole('ADMIN')" th:href="@{/users/edit-profile}" class="btn btn-info  mr-0 ">Block user</a>
    </div>
</div>
<div class="container ">
    <h3 class="text-center text-topics pl-3 mb-0 ">Projects</h3>
    <div class="container mb-3" th:each="p:${user.getProjects()}" th:insert="~{/fragments/project-card}">
    </div>

</div>
</body>
<script src="/js/countriesAPI-2.js">

</script>
</html>