<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head}">

</head>
<body>
<header>
    <div th:replace="~{fragments/navbar}">Navbar</div>
</header>

<div class="container ">
    <div class="media-2" th:object="${user}">
        <img th:if="*{pictureUrl==null}" class="mr-3" th:src="@{/images/default_avatar.jpg}" width="260" height="260"
             alt="Generic placeholder image">
        <div class="media-body">
            <h3 class="mt-0" th:text="*{name}">Radostin Bochukov</h3>
            <div class="badge-2 badge-secondary-2 mt-0 mb-2">Buyer</div>
            <div class="mt-2">
                <img id="flag" src="" width="26" class="flags">
                <span id="countryName" class="countryName" th:text="*{country}">Italy</span>
            </div>
            <div class="text-left mt-2">Job publications: <strong th:text="*{activeJobPublications.size()}"/></div>
            <div class="text-left mt-3">Description:</div>
            <div class="mt-0" th:text="*{description}">
            </div>
        </div>
    </div>
    <div class="text-right mt-2">
        <a th:unless="${user.viewerIsOwner}" th:href="@{/users/report/{id}(id=*{id})}"
           class="btn btn-info  mr-2 ">Report user</a>
        <a th:if="${user.viewerIsOwner}" th:href="@{/users/edit-profile}"
           class="btn btn-info  mr-0 ">Edit profile</a>
        <a sec:authorize="hasRole('ADMIN')" th:href="@{/users/edit-profile}" class="btn btn-info  mr-0 ">Block user</a>
    </div>
</div>

<div class="container">
    <h3 class="text-left text-topics pl-3 mb-0">Job Publications</h3>

    <div class="card-deck" >
        <div class="card mt-5"
             th:each="j:${user.activeJobPublications}"
             th:object="${j}">
            <div class="card-header"  ><h4 th:text="*{title}" >Need 4 exterior images</h4></div>
            <div class="card-body">
                <form th:action="@{/jobs/deactivate/{id}(id=${j.id})}"
                th:method="post">

                <div class="text-left mt-2">Category: <strong th:text="*{category}"/></div>
                <div class="text-left mt-2">Budget: <strong th:text="'€'+*{budget}"/></div>
                <div class="text-left mt-2" th:text="'Candidates: '+*{applicantsId.size()}">Candidates: 5</div>

                <a th:href="@{/jobs/details/{id}(id=${j.id})}" class="btn btn-info mt-3">Details</a>
                <a th:if="${user.viewerIsOwner}" th:href="@{/jobs/job-applicants/{id}(id=${j.id})}" class="btn btn-info  mt-3 ml-1">Applications</a>
                <button th:if="${user.viewerIsOwner}" type="submit" class="btn btn-info  mt-3 ml-1">Deactivate</button>
                </form>
            </div>
        </div>

    </div>
</div>

<th:block th:if="${user.viewerIsOwner}" >
    <div class="container">
        <h3 class="text-left text-topics pl-3 mb-0">Inactive job Publications</h3>

        <div class="card-deck" >
            <div class="card mt-5"
                 th:each="j:${user.inactiveJobPublications}"
                 th:object="${j}">
                <div class="card-header"  ><h4 th:text="*{title}" >Need 4 exterior images</h4></div>
                <div class="card-body">

                        <div class="text-left mt-2">Category: <strong th:text="*{category}"/></div>
                        <div class="text-left mt-2">Budget: <strong th:text="'€'+*{budget}"/></div>

                    <form th:action="@{/jobs/activate/{id}(id=${j.id})}"
                          th:method="post">
                        <button  type="submit" class="btn btn-info  mt-3 ml-1">Activate</button>
                    </form>
                    <form th:action="@{/jobs/delete/{id}(id=${j.id})}"
                          th:method="delete">
                        <button  type="submit" class="btn btn-info  mt-3 ml-1">Delete</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</th:block>

<th:block th:replace="~{fragments/work-in-progress-block}">
</th:block>

</body>
<script src="/js/countriesAPI-2.js">

</script>
</html>