<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}">
</head>

<body>

<div th:replace="~{fragments/navbar}">
</div>

<div class="container">
    <h2 class="text-center text-topics">Edit Profile</h2>
    <form method="POST"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <th:block th:insert="~{fragments/edit-profile-form}"></th:block>

        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="model">Creator type</label>
                <select id="model" class="form-control">
                    <option value="">- Select a model -</option>
                    <optgroup label="Brand name">
                        <option>Model</option>
                    </optgroup>
                </select>
                <p class="errors alert alert-danger">
                    Vechicle model is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3 ">
                <label for="price_per_image disable_section" class="text-white font-weight-bold">Price</label>
                <input id="price_per_image disable_section" type="number" min="0" step="100" class="form-control"
                       placeholder="Suggested price"/>
                <p class=" errors alert alert-danger">
                    Suggested price is required.
                </p>
            </div>
        </div>
            <div class="form-group col-md-whole_row mb-3">
                <label for="inputGroupFile01" class="text-white font-weight-bold">Upload a profile picture</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01">
                    <label class="custom-file-label" for="inputGroupFile01">Upload image (best image ratio 1:1)</label>
                </div>
            </div>

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Update"/>
                </div>
            </div>
        </div>
    </form>
</div>


<div>
    <footer></footer>
</div>

</body>
</html>