<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<th:block th:insert="~{fragments/head}"/>

<body>



<header>
    <div th:replace="~{fragments/navbar}">Navbar</div>
</header>
<div class="container-fluid">
    <div class="jumbotron">
        <h1 class="display-4">Wellcome to ArchVizArena!</h1>
        <h3 class="lead">Find the best Archviz artists in the field.</h3>
        <hr class="my-4">
        <p>Need the perfect visualizations for your next project?</p>
        <p>Need to find an inspiration from the best in the field?</p>
        <p class="lead">
            <a class="btn btn-info btn-lg" th:href="@{/artists/all}" role="button">Browse 3D Artists</a>
        </p>
</div>
    </div>


</body>
<div>
    <footer th:replace="~{fragments/footer}"></footer>
</div>
</html>

