<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/head}">

</head>

<body>

<div th:replace="~{fragments/navbar}">
</div>


<div class="container">
    <h2 class="text-center text-topics" th:text="'Apply for job #'+ ${jobPublication.id}">Apply for job #</h2>

    <form th:method="post"
          th:action="@{/jobs/details/{id}/application/add (id=${jobPublication.id})}"
          th:object="${jobPublication}"
          enctype="multipart/form-data"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center mt-4">
        <div class="form-group col-md-whole_row mb-3">
            <label class="text-white font-weight-bold">Job title: <strong th:text="*{title}"/></label>
        </div>
        <div class="form-group col-md-whole_row mb-3">
            <label class="text-white font-weight-bold">Author: <strong th:text="*{authorName}"/></label>
        </div>
        <div class="form-group col-md-whole_row mb-3">
            <label class="text-white font-weight-bold">Category: <strong th:text="*{category}"/></label>
        </div>
        <div class="form-group col-md-whole_row mb-3">
            <label class="text-white font-weight-bold">Budget: <strong th:text="'€'+*{budget}"/></label>
        </div>
        <div class="form-group col-md-whole_row mb-3">
            <label for="inputDescription" class="text-white font-weight-bold">Application message:</label>
            <div class="form-group">
                    <textarea
                            th:field="${applicationAddBindingModel.textContent}"
                            th:errorclass="is-invalid"
                            id="inputDescription"
                            name="inputDescription"
                            class="form-control"
                            aria-describedby="inputDescriptionError"></textarea>
                <p class="invalid-feedback errors alert alert-danger">Application message length must be more than 5
                    characters!</p>
            </div>
        </div>

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info " value="Apply for this job"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <footer th:replace="~{fragments/footer}"></footer>
</div>

</body>

</html>
