<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head}">

</head>
<body>
<header>
    <div th:replace="~{fragments/navbar}">Navbar</div>
</header>

<div class="container ">
    <!-- Content here -->
    <h2 class="text-left text-topics">Job publications</h2>

    <form method="POST"
          class="form-inline">

        <!--        <div class="row">-->

        <div class="form-group mb-2 mr-sm-2">
            <label class="sr-only " for="budget">Budget</label>
            <select id="budget" class="form-control">
                <option value="">- Select budget range -</option>
                <optgroup label="Price range">
                    <option>0-1000</option>
                    <option>1001-3000</option>
                    <option>3000+</option>
                </optgroup>
            </select>

        </div>
        <div class="form-group mb-2 mr-sm-2">
            <label class="sr-only " for="category">Category</label>
            <select id="category" class="form-control">
                <option value="">- Select category -</option>
                <optgroup label="Project category">
                    <option>Exterior</option>
                    <option>Interior</option>
                    <option>Landscape</option>
                    <option>Product design</option>
                </optgroup>
            </select>

        </div>
        <div th:replace="~{/fragments/countries-dropdown}">
        </div>
        <button type="submit" class="btn btn-info mb-2">Submit</button>

        <!--        </div>-->

        <!--        <div class="row">-->
        <!--            <div class="mb-2 mr-sm-2">-->
        <!--                <div class="button-holder d-flex mb-2 mr-sm-2">-->
        <!--                    <input type="submit" class="btn btn-info " value="Search"/>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
    </form>
</div>
<div class="container">
    <div class="card-deck">
        <div class="card mt-5" style="width: 18rem;" th:each="j: ${allJobs}"
             th:object="${j}">
            <div class="card-header"><h4><strong th:text="*{title}"/></h4></div>
            <div class="card-body">

                <div class="text-left mt-2">From: <strong th:text="*{authorName}"/></div>
                <div class="mt-2">
                    <img class="flags" src="" width="26">
                    <span class="countryName" th:text="*{authorCountry}">United States</span>
                </div>
                <div class="text-left mt-2">Category: <strong th:text="*{category}"/></div>
                <div class="text-left mt-2">Budget: <strong th:text="'€'+*{budget}"/></div>

                <a th:href="@{/jobs/details/{id}(id=${j.id})}" class="btn btn-info  mt-3">Details</a>
                <a th:href="@{/users/details/{id}(id=${j.authorId})}" class="btn btn-info  ml-2 mt-3">View Buyer</a>
            </div>
        </div>
    </div>
</div>




</body>
<script src="/js/countriesAPI-2.js">

</script>

</html>