<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">

</head>
<body>
<header>
    <div th:replace="~{fragments/navbar}">Navbar</div>
</header>

<div class="container  ">
    <h2 class="text-left text-topics pl-3">ArchViz Projects</h2>
    <!-- Content here -->

    <form th:method="get"
          th:action="@{/projects/search}"
          th:object="${projectSearchBindingModel}"
          class="form-inline pl-3 ">
        <div class="form-group mb-2 mr-sm-2">
            <label class="sr-only " for="category">Category</label>
            <select id="category" class="form-control">
                <option value="">- Select category -</option>
                <optgroup label="Project category">
                    <option th:each="p: ${T(com.example.archvizarena.model.entity.enums.ProjectCategoryEnum).values()}"
                            th:text="${p}"
                            th:value="${p}"
                            th:selected="${p}==*{category}">FREELANCER
                    </option>
                </optgroup>
            </select>

        </div>


        <div class="form-group mb-2 mr-sm-2">
            <label class="sr-only " for="creator_type">Creator type</label>
            <select th:field="*{creatorType}"
                    id="creator_type"
                    class="form-control">
                <option value="">- Select Creator type -</option>
                <option th:each="c: ${T(com.example.archvizarena.model.entity.enums.CreatorTypeEnum).values()}"
                        th:text="${c}"
                        th:value="${c}"
                        th:selected="${c}==*{creatorType}">FREELANCER
                </option>
            </select>

        </div>
        <div class="form-group mb-2 mr-sm-2"
             th:fragment="countries-dropdown">

            <label for="country" class="sr-only ">Country</label>

            <select th:field="*{country}"
                    id="country" name="country" class="form-control">
                <option value="">- Select a country -</option>
            </select>
        </div>
        <button type="submit" class="btn btn-info mb-2">Search</button>
    </form>


    <h3 class="text-center text-topics pl-3 mt-5" th:text="'Results: '+${projectsCount}">Results: 5</h3>
    <div class="container mb-3 " th:each="p:${allProjects.getContent()}" th:insert="~{/fragments/project-card}">
    </div>

    <div class="container-fluid container-fluid row justify-content-center">
    <nav>
        <ul class="pagination">
            <li class="page-item" th:classappend="${allProjects.isFirst()} ? 'disabled' : ''">
                <a th:unless="${allProjects.isFirst()}"
                   th:href="@{/projects/all(size=${allProjects.getSize()},page=0)}"
                   class="page-link" href="#">First</a>
                <a th:if="${allProjects.isFirst()}"
                   class="page-link" href="#">First</a>
            </li>
        </ul>
    </nav>
    <nav>
        <ul class="pagination">
            <li class="page-item" th:classappend="${allProjects.hasPrevious() ? '' : 'disabled'}">
                <a th:if="${allProjects.hasPrevious()}"
                   th:href="@{/projects/all(size=${allProjects.getSize()},page=${allProjects.getNumber() - 1})}"
                   class="page-link" href="#">Previous</a>
                <a th:unless="${allProjects.hasPrevious()}"
                   class="page-link" href="#">Previous</a>
            </li>
        </ul>
    </nav>
    <nav>
        <ul class="pagination">
            <li class="page-item" th:classappend="${allProjects.hasNext() ? '' : 'disabled'}">
                <a th:if="${allProjects.hasNext()}"
                   th:href="@{/projects/all(size=${allProjects.getSize()},page=${allProjects.getNumber() + 1})}"
                   class="page-link" href="#">Next</a>
                <a th:unless="${allProjects.hasNext()}"
                   class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
    <nav>
        <ul class="pagination">
            <li class="page-item" th:classappend="${allProjects.isLast()} ? 'disabled' : ''">
                <a th:unless="${allProjects.isLast()}"
                   th:href="@{/projects/all(size=${allProjects.getSize()},page=${allProjects.getTotalPages() - 1})}"
                   class="page-link" href="#">Last</a>
                <a th:if="${allProjects.isLast()}"
                   class="page-link" href="#">Last</a>
            </li>
        </ul>
    </nav>
</div>
</div>


</body>
<script src="/js/countriesAPI-2.js">

</script>
</html>