<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head}">

</head>
<body>
<header>
    <div th:replace="~{fragments/navbar}">Navbar</div>
</header>


<div class="container" th:object="${project}">
    <th:block th:if="*{imagesUrls.size()==1}">
        <div th:replace="~{fragments/carousel-1-element}"></div>
    </th:block>

    <th:block th:if="*{imagesUrls.size()==2}">
        <div th:replace="~{fragments/carousel-2-elements}"></div>
    </th:block>
    <th:block th:if="*{imagesUrls.size()==3}">
        <div th:replace="~{fragments/carousel-3-elements}"></div>
    </th:block>
    <th:block th:if="*{imagesUrls.size()==4}">
        <div th:replace="~{fragments/carousel-4-elements}"></div>
    </th:block>


    <span class="media mt-1">
    <span class="media-body">
        <h3 class="text-left text-topics  mt-2" th:text="*{title}">Residential building in Sliven</h3>
         <span class="badge-2 badge-secondary-2 mt-0 mb-2" th:text="'Category: '+*{category}+' | ' ">Category: Exterior | </span>
        <!--                <div class="badge-2 badge-secondary-2 mt-0 mb-2">Freelancer</div>-->
            <span class="text-left mt-2">Author: <th:strong th:text="*{authorName}"/></span>
    </span>
    <span class="mr-2 mt-3" th:text="'Likes: '+*{likesCount}">Likes: 56</span>
         <form th:method="post"
               th:action="@{/projects/details/like/{id}(id=*{id})}">
    <button th:unless="*{isLikedFromCurrentUser()}" type="submit" class="btn btn-info mb-0 mt-2 "
            id="like">Like</button>
        <button th:if="*{isLikedFromCurrentUser()}" type="submit" class="btn btn-info mt-2 ml-2" id="liked" disabled>Liked!</button>
        </form>
       <span>
           <button class="btn btn-info mt-2 ml-2" id="comment" onclick="redirectToField()">Leave a comment</button>
           <a th:unless="${project.viewerTheOwner or #authorization.expression('hasRole(''ADMIN'')')}" th:href="@{/report/project/{id} (id=*{id})}" class="btn btn-info mt-2 ml-1">Report</a>

       </span>
    </span>
    <div class="container mt-0">
        <h5 class="text-center mt-0 ">Description</h5>
        <div class="mt-2" th:text="*{description}">

        </div>
    </div>
    </span>
</div>

<div class="container " th:object="${project}">
    <h5 class="text-center  ">Comments</h5>
    <div class="card mt-4 " th:each="c : *{projectComments}">
        <div class="card-header " th:text="'Published on: '+${c.created}">
        </div>
        <div class="card-body">
            <h6 class="card-title">by
                <th:strong th:text="${c.authorName}"/>
            </h6>
            <p class="card-text" th:text="${c.textContent}"></p>
        </div>
    </div>

</div>

<div class="container">
    <form th:method="post"
          th:action="@{/projects/details/{id}/comments/add (id=${project.id})}"
          th:object="${commentToBeAdded}">
        <div class="form-group ml-3 mr-3">
            <label for="exampleFormControlTextarea1">Leave a comment</label>
            <textarea th:field="*{textContent}" class="form-control" id="exampleFormControlTextarea1"
                      rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-info ml-3">Leave a comment</button>
    </form>
</div>

<footer th:replace="~{fragments/footer}"></footer>
</body>
<script>
    function like() {
        let like = document.getElementById('like');

        if (like.className == 'btn btn-info mb-0') {
            // like.className='btn btn-info'
            like.remove()
        }
    }

    function redirectToField() {

        const targetField = document.getElementById('exampleFormControlTextarea1');
        if (targetField) {
            targetField.scrollIntoView({behavior: 'smooth'});
        }
    }

</script>
</html>