<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}">
</head>

<body>

<div th:replace="~{fragments/navbar}">
</div>

<div class="container">
    <h2 class="text-center text-topics">Register User</h2>
    <form th:action="@{/users/register}"
          th:method="post"
          th:object="${userRegisterBindingModel}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="row" th:fragment="common-fields">
            <div class="form-group col-md-6 mb-3">
                <label for="firstName" class="text-white font-weight-bold">Name</label>
                <input id="firstName"
                       type="text"
                       th:field="*{name}"
                       th:errorclass="is-invalid"
                       class="form-control"
                       placeholder="First name"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Name length must between 2 and 50 characters!
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="email" class="text-white font-weight-bold">Email</label>
                <input id="email"
                       type="text"
                       th:field="*{email}"
                       th:errorclass="is-invalid" class="form-control"
                       placeholder="Email address"/>
                <p th:each="err : ${#fields.errors('email')}"
                   th:text="${err}" class="invalid-feedback errors alert alert-danger">

                    Email is required.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="username" class="text-white font-weight-bold">Username</label>
                <input th:field="*{username}"
                       th:errorclass="is-invalid"
                       id="username"
                       type="text"
                       class="form-control"
                       placeholder="Username"/>
                <p th:each="err : ${#fields.errors('username')}"
                   th:text="${err}" class="invalid-feedback errors alert alert-danger">
                    Username is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="password" class="text-white font-weight-bold">Password</label>
                <input th:field="*{password}"
                       th:errorclass="is-invalid"
                       id="password"
                       type="password"
                       class="form-control"
                       placeholder="Password"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Password is required.
                </p>
            </div>
        </div>


        <div class="form-group col-md-whole_row mb-3">

            <label for="inputDescription" class="text-white font-weight-bold">Description</label>
            <div class="form-group">
                    <textarea
                            th:field="*{description}"
                            th:errorclass="is-invalid"
                            id="inputDescription"
                            name="inputDescription"
                            class="form-control"
                            aria-describedby="inputDescriptionError"></textarea>
                <p class="invalid-feedback errors alert alert-danger">Description length must be more than 10
                    characters</p>
            </div>
        </div>
        <div class="row">
            <div th:replace="~{/fragments/registration-countries-dropdown}"></div>


            <div class="form-group col-md-6 mb-3 ">
                <label class="text-left text-white font-weight-bold disabled">User Occupation</label>
                <select th:field="*{userOccupation}"
                        th:errorclass="is-invalid"
                        id="occupation"
                        class="form-control"
                        onchange="enableCreateUser() ,setRegisterButton()">
                    <option value="">- Select a user occupation -</option>

                    <option th:each="o: ${T(com.example.archvizarena.model.entity.enums.UserOccupationEnum).values()}"
                            th:text="${o}"
                            th:value="${o}"
                            th:selected="${o}==*{userOccupation}">ARTIST
                    </option>
                </select>
                <p class="invalid-feedback errors alert alert-danger">
                    User occupation is required.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 mb-3 ">
                <label class="text-center text-white font-weight-bold disabled" for="creator_type">Creator type</label>
                <select th:field="*{creatorType}"
                        id="creator_type"
                        class="form-control"
                        onchange="setRegisterButton()" disabled>
                    <option value="">- Select creator type -</option>
                    <option th:each="c: ${T(com.example.archvizarena.model.entity.enums.CreatorTypeEnum).values()}"
                            th:text="${c}"
                            th:value="${c}"
                            th:selected="${c}==*{creatorType}">FREELANCER
                    </option>
                </select>
                <p id="creator_error">
                </p>
            </div>

            <div class="form-group col-md-6 mb-3 ">
                <label for="price_per_image" class="text-white font-weight-bold ">Price per image</label>
                <input th:name="pricePerImage"
                       id="price_per_image"
                       type="number"
                       min="0"
                       class="form-control "
                       placeholder="Suggested price"
                       onchange="setRegisterButton()" disabled/>
                <p id="error_price">
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input id="register_button" type="submit" class="btn btn-info btn-lg" value="Register" disabled/>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="/js/register_form_script.js">

</script>

<div>
    <footer></footer>
</div>

</body>
</html>
