<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/head}">

</head>

<body>

<div th:replace="~{fragments/navbar}">
</div>


<div class="container">
  <h2 class="text-center text-topics">Report form</h2>

  <form th:method="post"
        th:action="@{/report/user/{id} (id=${userId})}"
        th:object="${reportSubmitBindingModel}"
        enctype="multipart/form-data"
        class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center mt-4">
    <div class="form-group col-md-whole_row mb-3">

      <label class="text-white font-weight-bold">Report user: <strong
              th:text="${userName}"/></label>

    </div>
    <div class="form-group col-md-whole_row mb-3">
      <label for="inputDescription" class="text-white font-weight-bold">Report message:</label>
      <div class="form-group">
                    <textarea
                            th:field="*{message}"
                            th:errorclass="is-invalid"
                            id="inputDescription"
                            name="inputDescription"
                            class="form-control"
                            aria-describedby="inputDescriptionError"></textarea>
        <p class="invalid-feedback errors alert alert-danger">Report message length must be more than 5
          characters!</p>
      </div>
    </div>

    <div class="row">
      <div class="col col-md-4">
        <div class="button-holder d-flex">
          <input type="submit" class="btn btn-info " value="Report user"/>
        </div>
      </div>
    </div>
  </form>
</div>

<div>
  <footer></footer>
</div>

</body>

</html>