<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/head}">
</head>
<body>

<div th:replace="~{fragments/navbar}">
</div>

<div class="container " style="align-content: center; max-width: 760px">
  <div class="card mt-5 p3 align-content-center text-center">
    <div class=" mt-1">

      <h3 class="mt-1 mb-0 ">Your report has been submitted and will be reviewed by an Administrator!</h3>

    </div>
    <span class="mt-2 mb-2">
        <a th:href="@{/}" type="button" class="btn btn-info">Home</a>
    </span>

  </div>
</div>
<div>
  <footer th:replace="~{fragments/footer}"></footer>
</div>
</body>
</html>